* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.content {
    width: auto;
    background-color: #e8f2fb;
    border: 1px solid rgba(0, 0, 0, 0.088);
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.11);
}

.content h1{
    color: black;
    opacity: .9;
    font-weight: 700;
    text-align: center;
}

#text-pokemon{
    color: #ffcc03;
    text-shadow:
    -1px -1px 0 blue,
     1px -1px 0 blue,
    -1px  1px 0 blue,
     1px  1px 0 blue;
}

.arrow-top{
    display: none;
    position: fixed;
    color: #cde3f6;
    font-size: 40px;
    right: 80px;
    bottom: 40px;
}

#menu-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
    height: 67px;
    background-color: #e8f2fb;
}

.menu-min{
    display: block;
}


.home-top{
    color: white;
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.05),
     1px -1px 0 rgba(0, 0, 0, 0.05),
    -1px  1px 0 rgba(0, 0, 0, 0.05),
     1px  1px 0 rgba(0, 0, 0, 0.05);
    font-size: 30px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

