.main-input{
    display: flex; align-items: center; justify-content: center; margin: 30px 0;
}

.space-search{
  text-align: center;
  width: 305px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(213, 217, 255),rgb(231, 233, 255));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.space-search input{
    height: 45px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    font-size: 14px;
}

.search-btn{
    height: 45px;
    padding: 0 16px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    letter-spacing: 0.8px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.search-btn:hover{
    background: linear-gradient(to bottom,rgb(213, 217, 255),rgb(231, 233, 255));
    color: white;
}

input::placeholder{
    opacity: .5;
}

.reset-button {
    background: rgb(166, 198, 255);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 15px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.reset-button:hover {
    background-color: #c0a7ff;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #fff;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    font-weight: 300;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    font-weight: 300;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.pagination button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pokeball{
    width: 30px;
    height: 30px;
}

#pokeball-footer{
    animation: poke 1.8s ease-in-out infinite;
}

#pokeball-footer:hover{
    animation: pokerotate 1.8s ease-in-out infinite;
}

@keyframes poke {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes pokerotate {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.2);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }

.cont{
    max-height: 130px;
    position: relative;
    bottom: 20px;
    overflow: hidden;
    margin: .1rem;
    border-radius: 1rem;
}  

.slider{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
  
.page1{
    padding: 1rem .8rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px 33px;
    background-color: rgb(255, 255, 255);
}

.page2{
    padding: 1rem .8rem;
    background-color: white;
    text-align: center;
    font-weight: 400;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.873);
    border-radius: 1rem;
}

.abilities{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.btn-slide{
    right: 9px;
    bottom: 45%;
    font-size: 13px;
    border: none;
    background-color: transparent;
}

.ir{
    position: absolute;
}

.stat {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
  }

  .stat-name {
    text-align: center;
    font-weight: 400;
    margin: 0;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.786);
  }

  .bar-container {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 5px;
    width: 50%;
  }

  .bar {
    height: 100%;
    border-radius: 20px;
    transition: width 0.5s ease-in-out;
  }

  
  .bar.low {
    background-color: #ef5350; 
  }

  .bar.medium {
    background-color: #fecf2f; 
  }

  .bar.good {
    background-color: #00FF7F; 
  }

  .bar.strong {
    background-color: #00FF7F; 
  }

.abilities span{
   font-size: .8rem;
   text-transform: capitalize;
}

.abilities .label{
    color: black;
    opacity: .6;
}

.abilities .ability{
    opacity: 0.9;
}

#ability {
    color: black;
    font-size: .65rem;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 0 5px;
    margin-bottom: 100px;
}

.footer .footer-text{
    margin: 0;
    font-style: italic;
    font-size: 14px;
    opacity: .3;
    font-weight: 300;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .main-input{
        justify-content: right; 
    }
    #menu-home{
        display: none;
    }
    
    .menu-min{
        display: none;
    }

    .arrow-top{
        display: block;
    }
}
